<div id="change_password_container" class="container">
    <div class="panel panel-common">
        <div class="panel-heading">
            <div class="panel-title"><h2>Change Password</h2></div>
        </div>
        <div class="panel-body">
            <form id="change_password_form" class="form-horizontal" role="form" name="changePwdForm" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : changePwdForm.password.$invalid && !changePwdForm.password.$pristine}">
                    <label for="inputPassword1" class="col-sm-4 control-label text-left">Old Password: </label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword1" name="password" ng-model="passwords.password" placeholder="Old Password" ng-minlength="6" required>
                    </div>
                    <p ng-show="changePwdForm.password.$error.minlength" class="help-block ng-hide">Minimum Length is 6</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : changePwdForm.newpassword.$invalid && !changePwdForm.newpassword.$pristine}">
                    <label for="inputPassword2" class="col-sm-4 control-label text-left">New Password: </label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="newpassword" id="inputPassword2" ng-model="passwords.newPassword" placeholder="New Password" unmatch="passwords.password" ng-minlength="6" required>
                    </div>
                    <p ng-show="changePwdForm.newpassword.$error.minlength" class="help-block ng-hide">Minimum Length is 6</p>
                    <p ng-show="!changePwdForm.newpassword.$pristine && changePwdForm.newpassword.$error.unmatch" class="help-block ng-hide">Must Be The Different From Old Password</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : changePwdForm.confirmpassword.$invalid && !changePwdForm.confirmpassword.$pristine}">
                    <label for="inputPassword3" class="col-sm-4 control-label text-left">Confirm Password: </label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" match="passwords.newPassword" name="confirmpassword" id="inputPassword3" ng-model="passwords.confirmPassword" placeholder="Confirm Password" match="passwords.newPassword" ng-minlength="6" required>
                    </div>
                    <p ng-show="changePwdForm.confirmpassword.$error.minlength" class="help-block ng-hide">Minimum Length is 6</p>
                    <p ng-show="!changePwdForm.confirmpassword.$pristine && !changePwdForm.confirmpassword.$error.minlength && changePwdForm.confirmpassword.$error.match" class="help-block ng-hide">The input password must be the same as above</p>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <input type="reset" class="btn btn-default" value="Reset" ng-click="reset()">
            <input id="change_password_button" type="submit" class="btn btn-common" ng-click="changePassword()" ng-disabled="changePwdForm.$invalid" value="Confirm">
        </div>
    </div>
</div>
