<div class="container">
  <div class="panel panel-common login-form">
    <div class="panel-heading">
      <div class="panel-title">
        <h2 ng-bind="templates[currentAction].title">User Authentication</h2>
      </div>
    </div>

    <div class="panel-body">
      <div ng-include="" src="templates[currentAction].tpl"></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="/login_form">
  <form class="clearfix" id="loginform" role="form" name="loginform" ng-submit="submitForm(loginform.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : loginform.username.$invalid && !loginform.username.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="login-username" type="text" class="form-control" ng-model="user.username" value=""
               placeholder="Email" name="username" ng-pattern="validation.email" required>
      </div>
      <p ng-show="loginform.username.$error.pattern" class="help-block ng-hide">Invalid email address</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loginform.password.$invalid && !loginform.password.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="login-password" type="password" class="form-control" ng-model="user.password"
               placeholder="Password" name="password" ng-minlength="6" required>
      </div>
      <p ng-show="loginform.password.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Remember me
      </label>
    </div>
    <div class="find-password">
      <a class="forgot-password btn-link" href="javascript:void(0)"
         ng-click="changeAction('forgot')">Forgot Password</a>
    </div>
    <button id="btn-login" ng-click="login()" ng-disabled="loginform.$invalid" class="btn btn-block btn-common">Login</button>
    <div class="login-actions">
      <div class="public-login">
        <!--<a href="/auth/google" class="public-auth"><img src="/images/google.png" alt="google auth"></a>-->
        <!--<hr>-->
        <a class="btn-link" href="javascript:void(0)"
           ng-click="changeAction('signUp')">No account? Sign up <span class="glyphicon glyphicon-arrow-right"></span></a>
        <!--<a href="javascript:void(0)" class="btn btn-link" ng-click="changeAction('reg_partner')">Register as a Partner</a>-->
      </div>
    </div>
  </form>
</script>

<script type="text/ng-template" id="/sign_up_form">
  <form role="form" name="signUpForm" novalidate>
    <div class="form-group"
         ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input autofocus type="text" name="email" placeholder="Email" ng-model="user.email" class="form-control"
               ng-pattern="validation.email" ng-disabled="currentUserAction.text=='Update'" required>
      </div>
      <p ng-show="signUpForm.email.$error.pattern" class="help-block ng-hide">Invalid email address</p>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input autofocus type="password" ng-minlength="6" name="password" placeholder="Password" ng-model="user.password" class="form-control" required>
      </div>
      <p ng-show="signUpForm.password.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : signUpForm.confirmPassword.$invalid && !signUpForm.confirmPassword.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input autofocus type="password" match="user.password" name="confirmPassword" placeholder="Confirm Password"
               ng-model="user.confirmPassword" ng-minlength="6" class="form-control" required>
      </div>
      <p ng-show="!signUpForm.confirmPassword.$pristine && !signUpForm.confirmPassword.$error.minlength && signUpForm.confirmPassword.$error.match" class="help-block ng-hide">The input password must be the same as above</p>
      <p ng-show="signUpForm.confirmPassword.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : signUpForm.firstName.$invalid && !signUpForm.firstName.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="firstName" placeholder="First Name" ng-model="user.firstName"
               class="form-control" ng-minlength="2" ng-maxlength="100" ng-pattern="validation.userName"
               required>
      </div>
      <p ng-show="signUpForm.firstName.$error.pattern" class="help-block ng-hide">Alphabet only</p>

      <p ng-show="!signUpForm.firstName.$error.pattern&&signUpForm.firstName.$error.minlength"
         class="help-block ng-hide">Minimum Length is 2</p>

      <p ng-show="!signUpForm.firstName.$error.pattern&&signUpForm.firstName.$error.maxlength"
         class="help-block ng-hide">Maximum Length is 100</p>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : signUpForm.middleName.$invalid && !signUpForm.middleName.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="middleName" placeholder="Middle Name (Optional)" ng-model="user.middleName"
               class="form-control" ng-minlength="2" ng-maxlength="100" ng-pattern="validation.userName">
      </div>
      <p ng-show="signUpForm.middleName.$error.pattern" class="help-block ng-hide">Alphabet only</p>

      <p ng-show="!signUpForm.middleName.$error.pattern&&signUpForm.middleName.$error.minlength"
         class="help-block ng-hide">Minimum Length is 2</p>

      <p ng-show="!signUpForm.middleName.$error.pattern&&signUpForm.middleName.$error.maxlength"
         class="help-block ng-hide">Maximum Length is 100</p>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="lastName" placeholder="Last Name" ng-model="user.lastName" class="form-control"
               ng-minlength="2" ng-maxlength="100" ng-pattern="validation.userName" required>
      </div>
      <p ng-show="signUpForm.lastName.$error.pattern" class="help-block ng-hide">Alphabet only</p>

      <p ng-show="!signUpForm.lastName.$error.pattern&&signUpForm.lastName.$error.minlength"
         class="help-block ng-hide">Minimum Length is 2</p>

      <p ng-show="!signUpForm.lastName.$error.pattern&&signUpForm.lastName.$error.maxlength"
         class="help-block ng-hide">Maximum Length is 100</p>
    </div>
    <button id="btn-signUp" ng-click="signUpUser()" ng-disabled="signUpForm.$invalid" class="btn btn-block btn-common">Sign Up</button>
    <div class="login-actions">
      <div class="public-login">
        <a class="btn-link" href="javascript:void(0)"
           ng-click="changeAction('login')">Have account? Log in <span class="glyphicon glyphicon-arrow-right"></span></a>
      </div>
    </div>
  </form>
</script>

<script type="text/ng-template" id="/firstlogin_form">
  <form id="firstlogin_form"  role="form" ng-keypress="submit($event)" name="firstloginform" ng-submit="submitForm(firstloginform.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : firstloginform.password.$invalid && !firstloginform.password.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="password" id="old_password" ng-model="changepass.password" placeholder="Old Password"
               class="form-control" name="password" ng-minlength="6" required>
      </div>
      <p ng-show="firstloginform.password.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : firstloginform.newpassword.$invalid && !firstloginform.newpassword.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="password" id="new_password" ng-model="changepass.newPassword" placeholder="New Password"
               class="form-control" name="newpassword" ng-minlength="6" required>
      </div>
      <p ng-show="firstloginform.newpassword.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : firstloginform.confirmnewpwd.$invalid && !firstloginform.confirmnewpwd.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="password" ng-model="changepass.confirmPassword" placeholder="Confirm Password"
               class="form-control" name="confirmnewpwd" ng-minlength="6" required>
      </div>
      <p ng-show="firstloginform.confirmnewpwd.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
    </div>
    <div class="controls">
      <input type="button" value="Submit" ng-click="changePassword()" ng-disabled="firstloginform.$invalid" class="btn btn-common btn-block">
    </div>
  </form>
</script>

<script type="text/ng-template" id="/forgotpassword_form">
  <form id="forgot_password_form" role="form" ng-keypress="submit($event)" name="forgotPasswdForm" ng-submit="submitForm(forgotPasswdForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : forgotPasswdForm.email.$invalid && !forgotPasswdForm.email.$pristine }">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" ng-model="forgotPass.email" placeholder="Registered Email Address" class="form-control" name="email" ng-pattern="validation.email" required>
      </div>
      <p ng-show="forgotPasswdForm.email.$error.pattern" class="help-block ng-hide">Invalid email address</p>
    </div>
    <div class="controls">
      <input type="button" value="Cancel" ng-click="changeAction('login')" class="btn btn-default">
      <input type="button" value="Submit" ng-click="forgotPassword(forgotPass.email)" ng-disabled="forgotPasswdForm.$invalid" class="btn btn-common">
    </div>
  </form>
</script>
