﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="csrf-token" content="{{csrf_token}}">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>eRealm Info & Tech</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">


  <!-- Application CSS Files -->
  <!-- build:css /stylesheets/lib.min.css -->
  {% for cssFile in cssLibFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
  <!-- endbuild -->
  <!-- build:css /stylesheets/app.min.css -->
  {% for cssFile in cssAPPFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
  <!-- endbuild -->
</head>

<body class="ng-cloak" scroll>
<div class="content">
    {% block content %}{% endblock %}
</div>

<footer role="contentinfo">
  <div class="contact wrap">
    <div class="copyright">
      <h2 translate="maintittle" class="copyright_main-tittle"></h2>
      <ul class="copyright_icon">
        <li><a href="mailto:hello@erealmsoft.com" ng-attr-href="{{'emaillink'}}" class="circle-icon" ng-attr-title="{{'sendus_email'}}"><span class="fa fa-envelope"></span></a></li>
        <li><a href="https://github.com/eRealm" class="circle-icon" ng-attr-title="{{ 'follow_us'}}" target="_blank"><span class="fa fa-github"></span></a></li>
        <li><a href="http://erealm.tumblr.com" class="circle-icon" ng-attr-title="{{ 'scan_blog'}}" ><span class="fa fa-tumblr"></span></a></li>
        <li><a href="http://weibo.com/erealm2014" class="circle-icon" ng-attr-title="{{ 'follow_weibo'}}" ><span class="fa fa-weibo"></span></a></li>
        <li><a href="/projectPlan" class="circle-icon" ng-attr-title="{{ 'submit_project'}}"><span class="fa fa-send"></span></a></li>
      </ul>
      <p translate="copyright" class="copyright-content"></p>
    </div>
    <a class="back-top fa fa-level-up" href="javascript: void(0)" ng-show="showFixedHeader" backtop></a>
  </div>
</footer>
<!--<div class="overlay-message" ng-show="mainLoading">-->
  <!--<ul class="loader">-->
    <!--<li></li>-->
    <!--<li></li>-->
    <!--<li></li>-->
  <!--</ul>-->
<!--</div>-->
<!--<script type="text/ng-template" id="main_message.html">-->
  <!--<div class="modal-header">-->
    <!--<h4 class="modal-title">-->
      <!--<i class="glyphicon"></i>-->
    <!--</h4>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--<p>{{mainMessage}}</p>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button class="btn btn-success" ng-click="$dismiss()">OK</button>-->
  <!--</div>-->
<!--</script>-->

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Application JavaScript Files-->
  <!-- build:js /javascripts/lib.min.js -->
  {% for jsFile in jsLibFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
  <!-- endbuild -->
  <!-- build:js /javascripts/app.min.js -->
  {% for jsFile in jsAPPFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
  <!-- endbuild -->

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>

  {% endif %}
</body>

</html>
