
<div class="container error-panel">
  <div class="section-inner">
    <a href="/" class="btn btn-link">Home</a>
    <h3>You are not authorized to access this resource.</h3>
    <img class="img-responsive" src="/img/404.jpg" alt="404" />
  </div>
</div>
