<section>
  <nav class="container">
    <h1>Welcome to Common-Web!</h1>
      <nav class="collapse navbar-collapse" role="navigation">
        <!--<ul class="nav navbar-nav">-->
          <!--<li class="active"><a ui-sref="home">Home</a></li>-->
          <!--<li><a ui-sref="dashboard">Dashboard</a></li>-->
        <!--</ul>-->
    </nav>
    <div class="well common-sign-in">
      <div class="intro">
        <h2>Common Web V0.1</h2>
        <p>Based on MEAN.js v4.3.2, Build with 3> .</p>
        <!--<div style="text-align: center;">-->
          <!--<img src="/img/Web.png" alt="">-->
          <!--<p>OverView</p>-->
        <!--</div>-->
        <!--<p><strong>Usage:</strong></p>-->
        <!--<p>TODO...</p>-->
        <div class="sign-btn">
          <a class="btn btn-common" ui-sref="login({currentAction : 'signUp'})">SIGN UP</a>

        <a class="btn btn-common" ui-sref="login({currentAction : 'login'})">SIGN IN</a>
          <hr>
          <a ui-sref="index
          ({currentAction:'indexsite'})">Just For A Look>>></a>
        </div>
      </div>
    </div>
    <!--<div id="footer">-->
      <!--<p>Based on MEAN.js v4.3.2, Build with 3> .</p>-->
    <!--</div>-->
  </nav>
</section>
