.flickr-feed{
  // position: absolute;
  bottom: 0;
  //overflow: hidden;
  float:left;
  width: 100%;
  background-color: @content;
  padding-top:50px;
  //ul{
  //  list-style: none;
  //  padding: 0;
  //  margin: 0;
  //  //margin-left: -75px;
  //  //width: 120%;
  //  //height: 150px;
  //  //overflow: hidden;
  //  //text-align: center;
  //
  //  //li {
  //  //  display: inline-block;
  //  //
  //  //  //background: #E1704B;
  //  //
  //  //  img {
  //  //    max-width: 100%;
  //  //    height:100%;
  //  //  }
  //  //
  //  //  &:hover {
  //  //    img {
  //  //      opacity: 0.5;
  //  //    }
  //  //  }
  //  //}
  //}
}

.our-team {
  padding: 1.18em 0;
  background:@black;
  h2.meet_team{
    color:@white;
  }
  .partners{
    padding:0;
    .our_partners{
      border:1px solid transparent;
      margin-bottom:1.5em;
      figure{
        text-align: center;
        overflow: hidden;
        img{
          margin:0 auto;
        }
      }
      h3.partners_name{
        color:@white;
        padding-left:3%;
        text-align: center;
      }
      h4.partners_position{
        text-align: center;
        padding-left:3%;
        color:@white;
        margin-bottom:0;
        height: 2em;
      }
      &:hover{
        h3.partners_name,h4.partners_position{
          text-align: right;
        }
        border-bottom: 1px solid @white;
        figure{
          transform: rotate(-5deg);
          transition:transform .5s ease;
        }
      }
    }
  }
}

.detail-we-are {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/background-0.png");
  position:relative;
  height:300px;
  h1.about_us{
    position:absolute;
    text-align: center;
    top:50%;
    left:20%;
    right:20%;
    color:rgba(255,255,255,0.6);
  }
}
.container{
  .about-box {
    text-align: center;
    width: 100%;
    color: @black;
    font-weight: 300;
    h2.about_love {
      font-weight: 300;
      margin: 1em 0;
    }
  }
  .team-construct{
    text-align: center;
    color:@orange;
    h1.about_team,h1.timer{
      color:@lightgreen;
    }
  }
}


@media only screen and (max-width:1024px)
{

}
@media only screen and (max-width:768px)
{

}
@media only screen and (max-width:580px)
{
  .detail-we-are{
    height:150px;
  }
  .wrap {
    .about-box .about-center {
      column-count:1;
    }
  }
}

.wrapper{
  width:70%;
  margin:0 auto;
  min-height:1000px;
}
//waterfall
.waterfall-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  min-height:500px;
  li{
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    //overflow: hidden;
    transition:all 1s;
    &:hover{
      transform:scale(2,2);
      z-index:10000;
      opacity:1;
    }
    :after{
      clear: both;
    }
    .data-block{
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 5px;
    }
    h3{
      margin:0;
      padding:10px;
      font-size: 16px;
      color: rgba(61, 61, 61, 0.93);
      background-color: #f1f0e8;
    }
    img{
      width: 100%;
      height: 100%;
      transition:all 1s;
    }
  }
}
.load-finish-int{
  text-align: center;
  padding:10px;
}
.clear {
  clear: both;
}

.loadMore {
  cursor: pointer;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
//照片导航
.nav{
  background-color:transparent;
  margin-bottom:80px;
  .uib-tab{
    width:100px;
    text-align:center;
    border:none;
    border-bottom:1px solid #fff;
  }
  .uib-tab.active.nav-item{

    border:1px solid #eee;
    border-bottom:none;
    background-color:transparent;
    a:active{
      background-color:transparent;
    }
  }
}
