.contact-us{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/background-0.png");
  position:relative;
  height:300px;
    h1.contact-me{
      position:absolute;
      text-align: center;
      top:50%;
      left:20%;
      right:20%;
      color:rgba(255,255,255,0.6);
    }
}
.send-message{text-align: center;}
.contact_address{
  background: @black;
  color:@orange;
  text-align: center;
  font-size: 0.9em;
  font-weight:300;
  padding-bottom:1.5em;
  a{
    color:@orange;

    &:hover{
      color:@lightgreen;
    }
  }
  h2{
    font-size: 3em;
    //font-weight: 100;
  }
  p{
    margin:0;
    padding:0;


  }

}
.google-map {
  width: 100%;
  height: 600px;
}

.send-message {
  padding: 2% 0;
  .form-group {
    width: 50%;
    padding: 0 3%;

    textarea {
      height: 7em!important;
      resize : none;
      margin-bottom: 1em;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #757575;
    }
    input, select {
      height: 3em!important;
      margin-bottom: 1em;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #757575;
    }
  }
  .info {
    color: #e1704b;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 768px) and (min-width: 0) {
  #google_map {
    height: 300px;
  }

  .contact-details {
    position: static;
    margin: 0 auto;
    width: 100%;

  }

  .circle-icon {
    font-size: 2em;
    width: 70px;
    height: 70px;
    line-height: 70px;

  }
}
/* Smartphones ----------- */
@media only screen and (max-width: 580px) and (min-width: 0) {
  .contact-us{
    height:150px;
  }
  .send-message {
    .form-group {
      width: 90%;
      height: auto;
      float: none;
      margin: 0 auto;
      padding: 0;
    }
  }

  .contact-details {
    a {
      font-size: 1.2em;
    }
    .cotact-address li {
      width: 100%;
      margin: 0.5em 0;
      text-align: center;
    }
  }
}