.what-we-work {
  min-height: 400px;
  margin-bottom: 1.18em;
  overflow-x: hidden;
  text-align: center;
}

.what-we-are {
  .carousel-box{
    img{
      width: 100%;
      height:100%;
    }
    .carousel-indicators{
      display: none;
    }
    .carousel-caption{
      top:40%;
      .home-box {
        text-align: center;
        opacity:1;
        transition: .5s;
        h1.main-tittle{
          color:@orange;
        }
        h2.slogan {
          margin-bottom: 0.8em;
        }
        .common-btn{
          padding:15px 20px;
          border-radius: 5px;
          &:hover {
            background: #3B4250!important;
            transition:0.3s;
            border: 2px solid transparent;
          }
        }
        .btn-left{
          color: @white;
          background: transparent!important;
          border: solid 2px @white;
        }
        .btn-right{
          color: @white;
          background: @lightgreen!important;
          border: solid 2px transparent;
        }
        &.fixed{
          opacity: 0;
        }
      }
    }
  }
}

.what-we-love {
  padding: 2% 0;
  background: @black;
  color:@white;
  text-align: center;
  h2.what_we_love {
    margin-bottom: 30px;
  }
  .aboutprogress{
    margin:1.2em auto;
    color:@white;
    font-weight:300;
    font-size:0.8em;
    .progress-bar-info{
      background-color: @orange;
    }
    div.uib-progressbar{
      margin-bottom:1em;
    }
    p.progress-item{
      text-align:right;
      padding-bottom: 0;
      margin:0;
    }
  }

  .programming-manners{
    padding-left:0;
    text-align: center;
    li {
      padding:1%;
      vertical-align: top;

      .illustration {
        background: transparent;
        color: @lightgreen;
        display: inline-block;
        margin-bottom:0.2em;
        font-size:4em;
      }
      p.love-content{
        text-align: center;
      }
    }
  }
    a.sendProject {
      border:2px solid transparent;
      background: @lightgreen;
      border-radius:5px;
      padding:15px 20px;
      margin-bottom: 1em;
      color: @white;
      display: inline-block;
      font-weight: 300;
      &:hover{
        color:@lightgreen;
        transition: .5s;
        background:@white;
      }
    }
  }

.what-we-can {
  padding: 2% 0%;
  overflow: hidden;
  min-height: 400px;
  color: @white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/background-6.png");
  text-align: center;
  .container{
    h2.we-can-do{

    }
    h3.what-we-can-technology{
      color:@white;
      margin:0 auto;
    }
    .programming-language {
       padding:0;

       li {
         display: inline-block;
         width: 114px;
         margin-bottom: 2em;
         vertical-align: top;
         text-align: center;

         &::before {
           content: '';
           display: block;
           width: 100%;
           height: 100px;
           margin: 0 auto;
           background-image: url("/img/languages.png");
         }

         &.language-java::before {
           background-position: 14px 0;

         }
         &.language-scala::before {
           background-position: -86px 0;
         }
         &.language-net::before {
           background-position: -194px 0;
         }
         &.language-node::before {
           background-position: -286px 0;
         }
         &.language-php::before {
           background-position: -385px 0;
         }
         &.language-go::before {
           background-position: 10px -100px;
         }
         &.language-swift::before {
           background-position: -90px -100px;

         }
         &.language-html5::before {
           background-position: -190px -100px;
         }
         &.language-python::before {
           background-position: -290px -100px;
         }
         &.language-ruby::before {
           background-position: -390px -100px;
         }
       }
     }
  }
  .programming-technology {
    width: 100%;
    padding-left:0;
    margin: 1.5em auto;
    li {
      display: inline-block;
      margin: 0 1em;
    }

    .tech-1 {
      font-size: 0.7em;
      color: rgba(255,255,255, 0.7);
    }
    .tech-2 {
      font-size: 0.8em;
      color: rgba(255,255,255, 0.8);
    }
    .tech-3 {
      font-size: 0.9em;
      color: rgba(255,255,255, 0.8);
    }
    .tech-4 {
      font-size: 1em;
      color: rgba(255,255,255, 0.9);
    }
    .tech-5 {
      font-size: 1.1em;
    }
  }
}

.how-we-manage {
  margin-bottom:5px;
  padding: 2% 0;
  color: @black;
  background-color: #eee;
  text-align: center;
  span.manage-icon{
    font-size:3em;
    color:@lightgreen;
  }
  .skill-container {
    padding:0 20px;
    > li {
      background: #fff;
      width: 100%;
      box-shadow:1px 1px 5px #aaa;
      position:relative;
      //min-width: 300px;
      margin: 1em 0;
      padding:10px 1%;
      //float: left;
      text-align: left;

      h3.manage-tittle {
        text-transform: uppercase;
        //padding: 0.2em 0.5em;
        color: @orange;
        width:30%;
        margin-left:0;
        margin-bottom:1em;
        text-align: left;
        font-weight: 400;
        padding-bottom: 0.5em;
        border-bottom:1px solid @black;
      }
      .skill-list {
        padding: 1em;
        margin-bottom:1em;
        li{
          line-height: 2em;
          text-align:left;
          display: block;
          font-weight: 100;
        }
      }
    }
    > li.skills{
       h3.manage-tittle{
         text-align:right;
         margin-left:70%;
         width:30%;
       }
      .skill-list{
        li{
          text-align: right;
        }
      }
    }
  }
}

@media only screen and (min-width:1600px)
{
  .what-we-love {
    margin-top: 200px;
    transition: all 1s;
    &.love {
      margin-top: 3px;
    }
  }
  .what-we-can{
    margin-top: 200px;
    transition: all 1s;
    &.love{
      margin-top:3px;
    }
  }
  .how-we-manage{
    margin-top: 200px;
    transition: all 1s;
    &.love{
      margin-top:3px;
    }
    .skill-container{
      >li{
        &:first-child{
          left:-2000px;
          opacity:0;
          transition:all 1s;
          &.love{
            left:0px;
            opacity:1;
          }
        }
        &:nth-child(2){
          float:right;
          right:-2000px;
          transition:all 1s;
          &.love{
            right:0px;
          }
        }
        &:last-child{
          float:left;
          left:-2000px;
          opacity:0;
          transition:all 1s;
          &.love{
            left:0px;
            opacity:1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 0){
  .what-we-are
  {
    height: auto;
        .carousel-caption{
          .home-box
          {
            width: 100%;
            padding: 10px;
            //margin: 100px 0;
            text-align: center;
            h2.slogan{
              display:none;
            }
            .common-btn{
              padding:6px 0;
              font-weight:300;
            }
          }
        }
    }
  .what-we-love{
    .container{
      .sendProject{
      margin-bottom:1em;
        text-align:center;
      }
    }
  }
  .how-we-manage {
    .skill-container {
      padding:0;
      > li ,li.skills{
        h3.manage-tittle{
          width:100%;
          text-align: center;
          margin-bottom:0;
          margin-left:0;
        }
        .skill-list{
          padding-top:0;
          padding-bottom:0;
          >li{
            text-align:center;
            font-size:0.8em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) and (min-width: 0)
{
  .what-we-are
  {
    .carousel-caption
    {
      .home-box
      {
        .common-btn{
          display:none;
        }
      }
    }
  }
  .what-we-love {
    .progress-group{
      p.progress-item{
        text-align:center;
      }
    }
  }
}