<navigation>
    <div class="detail-we-are">
        <h1 class="about_us" translate="about_us"></h1>
    </div>
    <div class="container">
        <div class="wrap">
            <div class="about-box">
                <h2 class="about_love" translate="aboutlove"></h2>
                <div class="about-center">
                    <p translate="aboutlove_one" class="love_content"></p>
                </div>
            </div>
        </div>
        <div class="row team-construct">
            <div class="col-md-3 col-sm-6 col-xs-12 ">
                <h1 class="timer" ng-bind="teamConstruct[0].current">55</h1>
                <p>Successful projects</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="timer" ng-bind="teamConstruct[1].current">33</h1>
                <p>Team members</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="timer" ng-bind="teamConstruct[2].current">5</h1>
                <p>Project managers</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="timer" ng-bind="teamConstruct[3].current">15500</h1>
                <p>Satisfied customers</p>
            </div>
        </div>
    </div>
    <section class="our-team">
        <div class="wrap">
            <h2 translate="our_team" class="meet_team"></h2>
            <!--<h3 translate="welove"></h3>-->
            <ul class="clearfix partners">
                <li ng-repeat="item in person track by item.number" class="col-md-3 col-sm-3 col-xs-6 our_partners">
                    <figure>
                        <img ng-cloak ng-cloak class="img-responsive"
                             ng-src="{{item.photo}}" class="partners_photo"/>
                    </figure>
                    <h3 ng-bind="item['first_name_'+loadLanguage]" class="partners_name"></h3>
                    <h4 ng-bind="item['position_'+loadLanguage]" class="partners_position"></h4>
                </li>
            </ul>
        </div>
    </section>
    <section id="flickrfeed" class="flickr-feed">
        <div class="wrapper">
            <uib-tabset active="activeJustified" justified="">
                <uib-tab index="$index + 1" heading="{{imageInfo.heading}}" ng-repeat="imageInfo in imagesInfo" select="allPhotosSelect($index)">
                    <div infinite-scroll='loadMore()' infinite-scroll-distance="0.5">
                        <ul class="waterfall-list" ng-waterfall cols="4">
                            <li ng-repeat="photo in currentImages" repeat-finished>
                                <div class="data-block">
                                    <img ng-src="{{photo.src}}" ng-alt="{{photo.title}}" ng-title="{{photo.title}}">
                                    <h3 ng-bind="photo.title"></h3>
                                </div>
                            </li>
                        </ul>
                        <div class="load-finish-int" ng-if="loadFinish">无更多照片</div>
                    </div>

                </uib-tab>
                <!--<uib-tab index="1" heading="生活" select="lifePhotosSelect()">-->
                    <!--<div>-->
                        <!--<div infinite-scroll='loadMore()' infinite-scroll-distance="1">-->
                            <!--<ul class="waterfall-list" ng-waterfall cols="4">-->
                                <!--<li ng-repeat="photo in imagesLife" repeat-finished>-->
                                    <!--<div class="data-block">-->
                                        <!--<img ng-src="{{photo.src}}" ng-alt="{{photo.title}}" ng-title="{{photo.title}}">-->
                                        <!--<h3 ng-bind="photo.title"></h3>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<div class="load-finish-int" ng-if="loadFinish">无更多照片</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
                <!--<uib-tab index="2" heading="工作" select="workPhotosSelect()">-->
                    <!--<div>-->
                        <!--<div infinite-scroll='loadMore()' infinite-scroll-distance="1">-->
                            <!--<ul class="waterfall-list" ng-waterfall cols="4">-->
                                <!--<li ng-repeat="photo in imagesWork" repeat-finished>-->
                                    <!--<div class="data-block">-->
                                        <!--<img ng-src="{{photo.src}}" ng-alt="{{photo.title}}" ng-title="{{photo.title}}">-->
                                        <!--<h3 ng-bind="photo.title"></h3>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<div class="load-finish-int" ng-if="loadFinish">无更多照片</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
                <!--<uib-tab index="3" heading="慈善" select="charityPhotosSelect()">-->
                    <!--<div>-->
                        <!--<div infinite-scroll='loadMore()' infinite-scroll-distance="1">-->
                            <!--<ul class="waterfall-list" ng-waterfall cols="4">-->
                                <!--<li ng-repeat="photo in imagesCharity" repeat-finished>-->
                                    <!--<div class="data-block">-->
                                        <!--<img ng-src="{{photo.src}}" ng-alt="{{photo.title}}" ng-title="{{photo.title}}">-->
                                        <!--<h3 ng-bind="photo.title"></h3>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<div class="load-finish-int" ng-if="loadFinish">无更多照片</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
            </uib-tabset>
        </div>
    </section>
</navigation>

<script type="text/ng-template" id="/life_template.html">
    <div infinite-scroll='loadMore()' infinite-scroll-distance="0.5">
        <ul class="waterfall-list" ng-waterfall cols="4">
            <li ng-repeat="photo in images" repeat-finished>
                <div class="data-block">
                    <img ng-src="{{photo.src}}" ng-alt="{{photo.title}}" ng-title="{{photo.title}}">
                    <h3 ng-bind="photo.title"></h3>
                </div>
            </li>
        </ul>
        <div class="load-finish-int" ng-if="loadFinish">无更多照片</div>
    </div>
</script>


