<navigation>
    <section class="blog-box">
        <h1 class="blog-tittle" translate="blogDetail"></h1>
    </section>
    <section>
        <ol class="breadcrumb">
            <li><a ui-sref="news">公司动态</a></li>
            <li class="active">详情</li>
        </ol>
        <h1>
            blogDetail
        </h1>
    </section>
</navigation>