<navigation>
    <div class="project-plan">
        <h1  translate="submit" class="projectPlain-tittle"></h1>
    </div>
    <div class="send-project">
        <div class="project-wrap">
            <h2 translate="tell_us" class="tell_us"></h2>
            <form ng-submit="sendMessage(project_form.$valid);" method="" action="" novalidate="novalidate" role="form" name="project_form">
                <p class="info contact-center"  translate="make_sure"></p>
                <fieldset class="row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="form-control-wrapper">
                            <input type="text" class="form-control" name="name" ng-pattern="/[a-zA-Z\u4e00-\u9fa5]/" ng-maxlength="20" ng-class="{error: (project_form.name.$dirty || submitted) && project_form.name.$invalid}" ng-model="name" title="Enter your name" required="required" ng-attr-placeholder="{{'your_name'| translate}}">
                            <p class="validateMessage" ng-show="project_form.name.$error.pattern && project_form.name.$dirty" ng-bind="eMessage.name"></p>
                            <p class="validateMessage" ng-show="project_form.name.$error.required && project_form.name.$dirty" ng-bind="eMessage.required"></p>

                        </div>
                        <div class="form-control-wrapper"> <input type="email" class="form-control" name="email" ng-pattern="/^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$/" ng-class="{error: (project_form.email.$dirty || submitted) && project_form.email.$invalid}" ng-model="email" title="Enter your email" required="required" ng-attr-placeholder="{{'your_email'| translate}}">
                            <p class="validateMessage" ng-show="project_form.email.$error.pattern && project_form.email.$dirty" ng-bind="eMessage.email"></p>
                            <p class="validateMessage" ng-show="project_form.email.$error.required && project_form.email.$dirty" ng-bind="eMessage.required"></p>
                        </div>
                        <div class="form-control-wrapper">
                            <select class="form-control" ng-model="type" ng-options="type.name as type.name for type in types">
                                <option translate="choose_project"></option>
                            </select>
                        </div>
                        <div class="form-control-wrapper">
                            <select class="form-control" ng-model="budget" ng-options="budget.name as budget.name for budget in budgets">
                                <option translate="choose_budget"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">

                        <div class="form-control-wrapper">
                            <input type="text" class="form-control" name="company" ng-maxlength="50" ng-class="{error: (project_form.company.$dirty || submitted) && project_form.company.$invalid}" ng-model="company" title="Enter your company" required="required" ng-attr-placeholder="{{'your_company'| translate}}">

                            <p class="validateMessage" ng-show="project_form.company.$error.maxlength && project_form.company.$dirty" ng-bind="eMessage.company"></p>
                            <p class="validateMessage" ng-show="project_form.company.$error.required && project_form.company.$dirty" ng-bind="eMessage.required"></p>
                        </div>
                        <div class="form-control-wrapper">
                            <input type="tel" class="form-control" name="telephone" ng-pattern="/((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/" ng-class="{error: (project_form.telephone.$dirty || submitted) && project_form.telephone.$invalid}" ng-model="telephone" title="Enter your telephone" required="required" ng-attr-placeholder="{{'your_telephone'| translate}}">
                            <p class="validateMessage" ng-show="project_form.telephone.$error.pattern && project_form.telephone.$dirty" ng-bind="eMessage.telephone"></p>
                            <p class="validateMessage" ng-show="project_form.telephone.$error.required && project_form.telephone.$dirty" ng-bind="eMessage.required"></p>

                        </div>
                        <div class="form-control-wrapper">
                        <textarea name="message" class="form-control projectPlan-message" ng-class="{error: (project_form.message.$dirty || submitted) && project_form.message.$invalid}"
                                  ng-model="message" title="Enter your message" ng-maxlength="300" required="required" ng-attr-placeholder="{{'pop_message'| translate}}"></textarea>
                            <p class="validateMessage" ng-show="project_form.message.$error.maxlength && project_form.message.$dirty" ng-bind="eMessage.message"></p>
                            <p class="validateMessage" ng-show="project_form.message.$error.required && project_form.message.$dirty" ng-bind="eMessage.required"></p>
                        </div>

                    </div>

                </fieldset>
                <div class="operation-btn">
                    <button class="btn common-btn reset" name="reset" type="reset" ng-click="reloading()" translate="reset" ></button>
                    <button class="btn common-btn" name="submit" type="submit" ng-click="submitted=true" ng-disabled="project_form.$invalid" translate=" send_message"></button>
                </div>
            </form>
        </div>
    </div>

</navigation>
